<!DOCTYPE html>
<html>
<head>
  <title>AuthTest</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1><%= @page_title %></h1>

<% if session[:username] %>
  <div class="identity">
    Logged in as: <%= session[:username] %> | <%= link_to("Logout", :controller => 'home', :action => 'logout') %>
  </div>
<% end %>

<%= yield %>

<% if !flash[:notice].blank? %>
  <div class="notice">
    <%= flash[:notice] %>
  </div>
<% end %>
</body>
</html>
